html, body {
    margin: 0;
    padding: 0;
}

body{
    font-family: "Roboto", sans-serif;
}

header {
    position: relative;
    height: 300px;
}

.header-image {
    position: absolute;
    width: 100%;
    height: 300px;
    object-fit: cover;
    object-position: center;
    filter: brightness(0.5);
}

.header-content {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 300px;
    padding: 20px;
    box-sizing: border-box;
    z-index: 1;
}

h1, nav a {
    color: white;
}
h1{
    font-size: 50px;
}

nav a{
    font-size: 20px;
}

.search-bar {
    display: flex;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 280px;
}

input {
    width: 442px;
    height: 38px;
    border-radius: 5px;
    border: solid 1px grey;
}

button {
    width: 150px;
    height: 38px;
    cursor: pointer;
    border-radius: 5px;
    border: solid 1px grey;
    background-color: #F9FAFB;
}

.film-icon{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.film-site-text{
    margin-right: 12px;
    color: #8a8a8a;
    font-weight: bold;
    margin-left: 10px;
}

.watch-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.watch-paragraph{
    font-size: 30px;
    color: #8a8a8a;
}

.add-movies{
    text-decoration: none;
    font-size: 25px;
    font-weight: bold;
    color: #363636;
}

.watch-content{
    display: flex;
    justify-content: center;
    gap: 8px;
}

.add{
    height: 20px;

}

.delete{
    height: 20px;
}

.film{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}

.films{
    display: flex;
    flex-direction: column;
    max-width: 100vh;
    margin: 50px auto 0;
    gap: 20px;
}

.poster{
    width: 99px;
    height: 147.41px;
    object-fit: cover;
}

.text-container{
    display: flex;
    flex-direction: column;
}

.text-container h3,
.text-container p {
    margin: 10;
}

.text-container p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


.title-row p{
    font-size: 18px;
    margin-right: 5px;
}

.title-row, .info-row{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.info-row{
    gap: 12px;
}

hr {
    border: none;
    border-top: 1px solid black;
    width: 100%
}

.watchlist-btn-icon{
    border: none;
    background: none;
    padding: 0;
    width: fit-content;
}

.watchlist-btn {
    display: flex;
    align-items: center;
    gap: 4px;
}

.watchlist-btn p {
    margin: 0;
}

#not-found{
    display: none;
}

.not-found {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.not-found p {
    font-size: 20px;
    color: #8a8a8a;
}

.watch-listed-films{
    display: flex;
    flex-direction: column;
    max-width: 100vh;
    margin: 50px auto 0;
    gap: 20px;
}

.delete-btn-icon{
    border: none;
    background: none;
    padding: 0;
    width: fit-content;
}

.rating{
    height: 20px;
}